:root {
    --bg-color: #886080;
}
/****************HOMEPAGE*********************/
.start {
    animation: startText 0.75s;
}
@keyframes startText {
    from {
        opacity: 0;
        padding-top: 5rem;
    }
    to {
        opacity: 1;
        padding-top: 0rem;
    }
}

.product-card {
    background-color: ghostwhite;
    color: #696969;
    transition: 0.3s;
}

.product-card:hover {
    background-color: #696969;
    color: ghostwhite;
}

/********************************************/
.dropdown-item {
    font-size: 0.94rem !important;
}

ul {
    text-align: left;   
}

li {
    text-align: left;
}

.link{
    color: inherit !important;
    text-decoration: none !important;
}
.App {
    text-align: center;
    display: flex;
}


.bg-img {
    background-image: linear-gradient(#12345600, #12345600, var(--bg-color)), url('./image/BG3.png');
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
}

.bg-br {
    background-color: #C14953;
}

.bg-gw {
    background-color: #F0EFF4;
}

.bg-rb {
    background-color: #292929; 
}

.bg-tb {
    background-color: #00BFB3;
}

.bg-msb {
    background-color: #7F7EFF;
}

.bg-pp {
    background-color: var(--bg-color);
}

.padr-1 {
    padding-right: 1rem;
}
.padr-2 {
    padding-right: 2rem;
}
.padr-3 {
    padding-right: 3rem;
}
.padr-4 {
    padding-right: 4rem;
}
/****************FOOTER***********************/
.footer {
    height: 280px;
}

.footer-top {
    height: 100%;
    justify-content: center;
    align-items: center ;
}

.footer-bottom {
    height: 7%;
    color:#9b137d;
}

.intro {
    height: 110vh;
    width: 100%;
}

.nav-scrolled {
    background-color: var(--bg-color)/*#770f5e90*/;
    backdrop-filter: blur(15px);
    /* box-shadow: #3f3f3f 0px 0px 20px; */
}

.navbar-scrolled {
    color: #292929;
}

.nav-transition {
    transition-property: background-color, color, box-shadow ;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}


.template {
    color: #616161;
    box-shadow: 5px 5px 5px #7c7c7c;
    /* border-style: ; */
}

